<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My Website</title>
  <meta name="description" content="My Website">
  <meta name="author" content="SitePoint">
  #bootstrap
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
  <script src="js/scripts.js"></script>
</body>
</html>
```
I have tried to use the following code to get the data from the database:
```