{{define "base" .}}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My Website</title>
  <meta name="description" content="My Website">
  <meta name="author" content="SitePoint">
  #bootstrap
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>


{{block "content"}}
{{end}}


{{end}}